.cycle-slideshow {
	float:left;
	margin-top:1.875rem;
	box-sizing:border-box;	
}

img {
	max-height:400px;
	width:auto;
}

@media screen and (max-width: 460px) {
	.cycle-slideshow {
		margin-bottom:100px;
	}

	img {
		max-height:400px;
		width:auto;
	}	
} 

.first-hero-content {
	float:left;
	color:$mainGrey;
	margin-top:.875rem;
	box-sizing:border-box;

	&__title {
		font-size:1.4rem;
		font-weight:300;
	}

	&__body {
		font-size:1rem;
		font-weight:300;
	}	
}

.first-hero-content a {
	text-decoration:none;
	color:$mainBlue;
}
.read-more .read-less a {
	color:#083b5e;
	cursor:pointer;
}
.read-more a:hover {
	color:#e41207;
}
.read-less a:hover {
	color:#e41207;
}
.text-name .less-name a {
	color:#083b5e;
	cursor:pointer;
}
.text-name .less-name a:hover{
	color:#e41207;
}

@media screen and (max-width: 320px) {
	.first-hero-content {
		z-index:-9999;
		opacity:0;
	}	
} 





