.logo a {
	display:block;
	width:100%;
	margin-top:2rem;
	margin-left:2.5rem;
	margin-bottom:.2rem;
	text-decoration:none;
	color:$mainBlue;
	font-weight:100;
	font-size:2.2rem;
}

.kassnav ul {
	display:block;
	list-style:none;
}

.kassnav ul li a {
	float:left;
	margin-bottom:1rem;
	margin-right:0.3125rem;
	width:8rem;
	height:2.125rem;
	padding-top:0.7rem;
	padding-left:0.8rem;
	text-decoration:none;
	color:#fff;
	font-weight:300;
	font-size:1.2rem;
	line-height:1.4rem;
	word-spacing:.25rem;
	background-image:linear-gradient(to bottom, #cfe1fb, $mainBlue);
	box-shadow:0 5px 4px rgba(0, 0, 0, .25);
	transition:0.8s ease-out;
	
}

.kassnav ul li:hover > a {
	color:$mainBlue;
	background-image:linear-gradient(to bottom, $mainBlue, #cfe1fb);
	}

.kassnav ul li.active > a {
	background-image:linear-gradient(to bottom, $mainBlue, #cfe1fb);
	}













/* Clearfix Method */
/* =============== */

.fix {
	clear: both;
}
	
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* /End Clearfix Method */
/* ==================== */



/* Start Reveal and Hide Styles */
/* ============================ */