.container {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.page-content {
	margin-left:40px;
	margin-right:40px;
}

@media screen and (max-width: 460px) {
	.page-content {
		margin-left:20px;
		margin-right:20px;
	}
	
} 	





